.input {
  padding: 0.5rem 1rem;
  width: 49%;
  @apply rounded-md bg-neutral-900 text-neutral-200;
}
.input:focus {
  outline: none;
}

.button {
  padding: 0.2rem 1rem;
  @apply font-medium rounded-full text-neutral-900;
}
