input {
  padding: 0.5rem 1rem;
  width: 49%;
  @apply rounded-sm bg-neutral-900 text-neutral-200;
}
input:focus {
  outline: none;
}

button {
  padding: 0.2rem 1rem;
  @apply font-medium rounded-sm text-neutral-800;
}
